@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}
.flaticon-archery12:before {
	content: "\e000";
}
.flaticon-camping30:before {
	content: "\e001";
}
.flaticon-camping31:before {
	content: "\e002";
}
.flaticon-camping32:before {
	content: "\e003";
}
.flaticon-camping33:before {
	content: "\e004";
}
.flaticon-car43:before {
	content: "\e005";
}
.flaticon-communication13:before {
	content: "\e006";
}
.flaticon-cooking57:before {
	content: "\e007";
}
.flaticon-dig1:before {
	content: "\e008";
}
.flaticon-direction183:before {
	content: "\e009";
}
.flaticon-direction184:before {
	content: "\e00a";
}
.flaticon-drinks61:before {
	content: "\e00b";
}
.flaticon-fishing28:before {
	content: "\e00c";
}
.flaticon-flag-pole30:before {
	content: "\e00d";
}
.flaticon-flame16:before {
	content: "\e00e";
}
.flaticon-furniture111:before {
	content: "\e00f";
}
.flaticon-health-care30:before {
	content: "\e010";
}
.flaticon-hot-drink40:before {
	content: "\e011";
}
.flaticon-knives6:before {
	content: "\e012";
}
.flaticon-lens2:before {
	content: "\e013";
}
.flaticon-light181:before {
	content: "\e014";
}
.flaticon-light182:before {
	content: "\e015";
}
.flaticon-light183:before {
	content: "\e016";
}
.flaticon-meat46:before {
	content: "\e017";
}
.flaticon-mountain48:before {
	content: "\e018";
}
.flaticon-musical-instrument40:before {
	content: "\e019";
}
.flaticon-navigation82:before {
	content: "\e01a";
}
.flaticon-orientation50:before {
	content: "\e01b";
}
.flaticon-orientation51:before {
	content: "\e01c";
}
.flaticon-orientation52:before {
	content: "\e01d";
}
.flaticon-picture95:before {
	content: "\e01e";
}
.flaticon-placeholder69:before {
	content: "\e01f";
}
.flaticon-protection31:before {
	content: "\e020";
}
.flaticon-protection32:before {
	content: "\e021";
}
.flaticon-rope9:before {
	content: "\e022";
}
.flaticon-rural39:before {
	content: "\e023";
}
.flaticon-rural40:before {
	content: "\e024";
}
.flaticon-rural41:before {
	content: "\e025";
}
.flaticon-shoe25:before {
	content: "\e026";
}
.flaticon-spoon26:before {
	content: "\e027";
}
.flaticon-sport81:before {
	content: "\e028";
}
.flaticon-telephone274:before {
	content: "\e029";
}
.flaticon-tool177:before {
	content: "\e02a";
}
.flaticon-tool178:before {
	content: "\e02b";
}
.flaticon-tool179:before {
	content: "\e02c";
}
.flaticon-transport694:before {
	content: "\e02d";
}
.flaticon-transport695:before {
	content: "\e02e";
}
.flaticon-tree169:before {
	content: "\e02f";
}
.flaticon-water112:before {
	content: "\e030";
}
.flaticon-woods2:before {
	content: "\e031";
}
