<!doctype html>
<html xmlns:ng="http://angularjs.org" ng-app="<!-- @echo APP -->">
  <head ng-controller="HeadCtrl as headCtrl">
    <meta charset="utf-8"/>
    <meta name="fragment" content="!"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="robots" content="index,follow,noodp,noydir"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <meta name="version" content="<!-- @echo VERSION -->">
    <base href="<!-- @echo BASE -->">

    <!-- metadata -->
    <title ng-bind="headCtrl.metadata.pageTitle">angular sample app</title>
    <link rel="canonical" ng-href="{{headCtrl.metadata.canonicalUrl}}"/>
    <meta ng-repeat="(property, content) in headCtrl.metadata.tags" name="{{property}}" property="{{property}}" content="{{content}}"/>

    <!-- prerender -->
    <meta name="prerender-status-code" content="{{headCtrl.metadata.statusCode}}">
    <meta ng-if="headCtrl.metadata.redirect" name="prerender-header" content="Location: {{headCtrl.metadata.redirect}}">

    <!-- favicon -->
    <link rel="shortcut icon" href="/favicon.ico"/>

    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body>

    <!-- header of each page -->
    <div ui-view="header">
      <noscript>
        <div class="landing-panel">
          <h2 style="text-align: center">You don't see anything?</h2>

          <i style="color: gray">Nowadays almost all web pages contain JavaScript, a scripting programming language that runs on visitor's web browser. It makes web pages functional for specific purposes and if disabled for some reason, the content or the functionality of the web page can be limited or unavailable. Here you can find instructions on how to enable (activate) JavaScript in five most commonly used browsers.</i>

          <p style="text-align: center">
            <a href="http://enable-javascript.com/" title="How to enable JavaScript in your browser" class="btn">Better activate Javascript!</a>
          </p>
        </div>
      </noscript>
    </div>

    <!-- content of the page -->
    <div ui-view="container"></div>

    <!-- footer of each page-->
    <div ui-view="footer"></div>

    <!-- inject:js -->
    <!-- endinject -->

    <!-- Google Analytics
    <script>
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
        a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-XXXXXXXX-X', 'auto');
    </script>
    -->

  </body>
</html>
